<div id="support-atom-wrapper" class="gv-wrapper support-atom-wrapper">
  <h3>Investigations expose, so the public knows</h3>
  <h4 class="non-supporter-message">
    Support the Guardian’s fearless, investigative journalism today
  </h4>
  <h4 class="supporter-message">
    Thank you for supporting the Guardian’s fearless, investigative journalism
  </h4>
  <a
    target="_blank"
    class="non-supporter-message"
    href="https://support.theguardian.com/uk/contribute?acquisitionData=%7B%22source%22%3A%22GUARDIAN_WEB%22%2C%22componentType%22%3A%22ACQUISITIONS_EDITORIAL_LINK%22%2C%22componentId%22%3A%22suisse_investigation_embed%22%2C%22campaignCode%22%3A%22suisse_investigation_embed%22%7D&INTCMP=suisse_investigation_embed"
    data-link-name="investigation supporter atom"
    >Support the Guardian<svg
      width="20"
      height="18"
      viewBox="0 0 20 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.833496 9.79627H16.0615L10.0897 16.9425L10.8661 17.7188L19.1668 9.39815V8.60192L10.8661 0.28125L10.0897 1.05758L16.0615 8.2038H0.833496V9.79627Z"
        fill="white"
      />
    </svg>
  </a>
</div>
